{% extends 'base.html' %}

{% block jumbotron_title %}
Biz haqimizda
{% endblock jumbotron_title %}

{% block jumbotron_description %}
{% endblock jumbotron_description %}

{% block nav_about %}
active
{% endblock nav_about %}

{% block content %}
<!-- Content Section -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus elit ut quam tincidunt, ut scelerisque orci ultricies. Sed sed orci a nisi euismod luctus. Proin ac urna ac leo mattis aliquet nec nec turpis. Quisque eu urna nec tortor aliquet facilisis. Nulla facilisi. Integer in dolor sit amet metus ullamcorper fermentum. Vivamus efficitur arcu vel risus vulputate, eget vulputate ex malesuada.</p>

            <p>Nulla facilisi. Integer in dolor sit amet metus ullamcorper fermentum. Vivamus efficitur arcu vel risus vulputate, eget vulputate ex malesuada. Curabitur nec erat id odio pharetra blandit. Integer cursus, velit at pharetra blandit, lectus ipsum malesuada nunc, et varius mauris justo nec purus. Ut efficitur laoreet odio, nec lacinia ipsum. Integer vel lectus eu felis tristique hendrerit id non turpis.</p>
        </div>
    </div>
</div>
{% endblock content %}