{% extends 'base.html' %}

{% block jumbotron_title %}
Bizning sahifamizga hush kelibsiz
{% endblock jumbotron_title %}

{% block jumbotron_description %}
Ushbu sahifada siz <span>Muhammad al-Xorazmiy nomidagi Toshkent axborot texnologiyalari universiteti Urganch filiali</span> talabalarining sertifikatlari haqida ma`lumot olishingiz mumkin
{% endblock jumbotron_description %}

{% block nav_home %}
active
{% endblock nav_home %}


{% block content %}

<!-- Certificate Type Selector -->
<div class="container mt-4 lead">
    <form id="certificateForm" method="GET">
        <div class="form-group">
            <label>Sertifikat turini tanlang:</label><br>
            <label class="btn btn-primary certificateLabel">
                Barchasi {{ all_certificates_count }}
                <input type="checkbox" class="certificateCheckbox d-none" id="selectAllCheckbox" autocomplete="off">
            </label>
            {% for type in certificate_types %}
                <label class="btn btn-primary certificateLabel">
                    {{ type }}
                    <input type="checkbox" class="certificateCheckbox d-none" name="certificate_type" value="{{ type.id }}" autocomplete="off">
                </label>
            {% endfor %}
        </div>
    </form>
</div>

<!-- Card Section -->
<div class="container">
    <div class="row">
        {% for certificate in certificates %}
            <a href="{% url 'certificate' certificate.pk %}">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ certificate.image.url }}" class="card-img-top" alt="{{ certificate.fullname }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ certificate.fullname|truncatechars:24 }} <a href="#" class="badge badge-primary">{{ certificate.certificate_type.name }}</a></h5>
                            <p class="card-text">{{ certificate.description|truncatechars:42 }}</p>
                            <a href="{{ certificate.file.url }}" class="btn btn-primary" download>Download</a>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a id="previousPageLink" class="page-link {% if not certificates.has_previous %}disabled{% endif %}" href="{% if certificates.has_previous %}?page={{ certificates.previous_page_number }}{% endif %}">Oldingi</a></li>
            {% for i in certificates.paginator.page_range %}
                <li class="page-item{% if i == certificates.number %} active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item"><a class="page-link {% if not certificates.has_next %}disabled{% endif %}" href="{% if certificates.has_next %}?page={{ certificates.next_page_number }}{% endif %}">Keyingi</a></li>
        </ul>
    </nav>
</div>
{% endblock content %}

<script>
    // JavaScript to prevent default behavior of the disabled link
    document.getElementById("previousPageLink").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default behavior of the link
    });
    document.addEventListener("DOMContentLoaded", function() {
        const checkboxes = document.querySelectorAll('.certificateCheckbox');

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                // Add or remove the 'active' class from the parent label when the checkbox is checked or unchecked
                if (checkbox.checked) {
                    checkbox.parentElement.classList.add('active');
                } else {
                    checkbox.parentElement.classList.remove('active');
                }
                // Automatically submit the form when a checkbox is checked or unchecked
                document.getElementById('certificateForm').submit();
            });
        });
    });
</script>
